a .nv_categorymanager_novinet-icon-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -25px;
    background: url(../images/novinet-signet.svg) no-repeat 0 0;
    background-size: 18px 18px;
    vertical-align: middle;
}